/*
 * Empty Stylesheet file.
 */

.card {
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5,0,0,0);
    -fx-background-radius: 3px;
}

.table-view {
    -fx-background-radius: 5px;
}

.table-view .column-header-background {
    -fx-background-color: #FF2021;
}

.crearBtn {
    -fx-background-color: #FF2021;
    -fx-cursor: hand;
}

.crearBtn:hover {
    -fx-background-color: #DDD;
}

.cancelarBtn {
    -fx-background-color: #DDD;
    -fx-cursor: hand;
}

.cancelarBtn:hover {
    -fx-background-color: #FF2021;
}